<h1>Pages info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<h2 style="text-align:center; color: coral">Welcome to my first Rails page</h2>
<p style="text-align: center">Framgia Ruby on Rails girls </p>
